<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PriceManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PriceManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <PriceManager.Properties.Settings>
      <setting name="COMPID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PRICE_TMP_URL" serializeAs="String">
        <value>http://10.20.1.233:9100/template/price_inpt.xlsx</value>
      </setting>
      <setting name="LOWPRICE_TMP_URL" serializeAs="String">
        <value>http://10.20.1.233:9100/template/lowprice_inpt.xlsx</value>
      </setting>
      <setting name="WAREDICT_SUB_TMP_URL" serializeAs="String">
        <value>http://10.20.1.233:9100/template/waredict_sub_inpt.xlsx</value>
      </setting>
      <setting name="OWNERID" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="PriceManager_WebReference_WebService" serializeAs="String">
        <value>http://10.20.1.233:1001/WebService.asmx</value>
      </setting>
    </PriceManager.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <PriceManager.Properties.Settings>
      <setting name="D_PWD" serializeAs="String">
        <value />
      </setting>
      <setting name="D_DEPT" serializeAs="String">
        <value />
      </setting>
      <setting name="D_USER" serializeAs="String">
        <value />
      </setting>
    </PriceManager.Properties.Settings>
  </userSettings>
  <appSettings>
    <!--<add key="server" value="127.0.0.1" />-->
    <add key="server" value="10.20.2.28"/>
    <add key="port" value="8087"/>
    <add key="USER" value="admin"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
